{
  "rules": {
    "semi": ["error", "always"],
    "arrow-body-style": ["error", "as-needed"],
    "arrow-parens": ["error", "as-needed"]
  },
  "env": {
    "es6": true,
    "node": true
  },
  "extends": ["eslint:recommended"]
}
